<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>positions</key>
    <array>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>600.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>1200.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>1800.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>2400.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>3000.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>3600.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>4200.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>4800.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>5400.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>6000.0</real>
    </dict>
    </array>
</dict>
</plist>
