<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>positions</key>
	<array>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>440.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>80.0</real>
        <key>y</key>
        <real>560.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>680.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>800.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>920.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>1040.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>280.0</real>
        <key>y</key>
        <real>1160.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>1280.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>1400.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>1520.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>1640.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>80.0</real>
        <key>y</key>
        <real>1760.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>1880.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>2000.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>2120.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>2240.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>280.0</real>
        <key>y</key>
        <real>2360.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>2480.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>2600.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>2720.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>2840.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>80.0</real>
        <key>y</key>
        <real>2960.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>3080.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>3200.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>3320.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>3440.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>280.0</real>
        <key>y</key>
        <real>3560.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>3680.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>3800.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>3920.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>4040.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>80.0</real>
        <key>y</key>
        <real>4160.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>4280.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>4400.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>4520.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>4640.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>280.0</real>
        <key>y</key>
        <real>4760.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>4880.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>5000.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>5120.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>5240.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>80.0</real>
        <key>y</key>
        <real>5360.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>120.0</real>
        <key>y</key>
        <real>5480.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>5600.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>5720.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>5840.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>280.0</real>
        <key>y</key>
        <real>5960.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>240.0</real>
        <key>y</key>
        <real>6080.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>200.0</real>
        <key>y</key>
        <real>6200.0</real>
    </dict>
    <dict>
        <key>x</key>
        <real>160.0</real>
        <key>y</key>
        <real>6320.0</real>
    </dict>
</array>

</dict>
</plist>
